:root {
  // Main colors
  --darkBlueBackground: rgb(46, 49, 61);
  --flatDarkBlue: rgb(76, 76, 89);
  --flatRed: rgba(234, 94, 96, 1);
  --flatBrightRed: rgba(234, 94, 106, 1);
  --slateGray: rgb(179, 179, 179);
  --lightGray: rgba(235, 235, 235, 1);
  --eggShellWhite: rgb(255, 255, 255, 1);
  --softWhite: rgba(252, 247, 248, 0.76);
}
