.header {
  padding: 10rem 0 0 0;
  h1,
  h2 {
    color: var(--flatRed);
  }
  p {
    max-width: 50%;
  }
  span {
    color: var(--slateGray);
  }
  @media only screen and (max-width: 760px) {
    text-align: center;
    p {
      max-width: 100%;
      text-align: center;
    }
  }
}
