.Projects {
  text-align: center;
  color: var(--flatRed);
  margin: 0 0 15vh 0;
  overflow-x: hidden;
  h3 {
    color: var(--flatDarkBlue);
    padding: 1rem 0;
    font-size: var(--text-xl);
  }
  p {
    color: var(--flatDarkBlue);
    margin: 0;
  }
  @media only screen and (max-width: 475px) {
    margin: 0 0 4vh 0;
    p {
      padding: 0 0 2.5rem 0;
    }
  }
}

.ProjectGallery {
  display: flex;
  margin: 5rem 0 0 0;

  div {
    margin: 0 1rem;
  }
  @media only screen and (max-width: 475px) {
    flex-wrap: wrap;
    img:first-child {
    }
  }
}
