.Skills {
  padding-top: 20rem;
  margin: 0 0 15vh 0;
  h2 {
    @media only screen and (max-width: 782px) {
      text-align: center;
    }
  }
  p {
    margin: 2rem 0 4rem 0;
    max-width: 60%;
    @media only screen and (max-width: 782px) {
      margin: 0 auto;
      max-width: 80%;
      padding: 0 0 1.25rem 0;
      text-align: center;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      font-size: var(--text-sm);
      font-weight: bold;
      flex: 1 0 21%;
      margin: 0.75rem 0;
      @media only screen and (max-width: 782px) {
        flex: 1 0 41%;
        text-align: center;
      }
      svg {
        vertical-align: -2px;
        color: #c6c6c6;
        padding-right: 0.5rem;
      }
    }
  }
  @media only screen and (max-width: 375px) {
    padding-top: 10rem;
  }
}
