.Contact {
  z-index: 100;
  position: fixed;
  margin: 0 0 0 1rem;
  width: 25px;
  bottom: 1rem;
  left: 16px;
  transition: 0.2s all ease-in;
  svg {
    opacity: 0.4;
    padding: 20px 0;
    transition: 0.2s all ease-in;
    font-size: 1.5rem;
    color: var(--softWhite);

    &:hover {
      opacity: 1;
      color: var(--flatRed);
    }
  }
  @media only screen and (max-width: 375px) {
    display: none;
  }
}

.Dark {
  svg {
    color: var(--flatDarkBlue);
  }
}

.Hide {
  z-index: 100;
  position: fixed;
  margin: 0 0 0 2rem;
  width: 25px;
  bottom: 2rem;
  left: -60px;
  opacity: 0;
  transition: 0.5s all ease-in;

  svg {
    opacity: 0;
    padding: 20px 0;
    transition: 0.2s all ease-in;
    font-size: 1.5rem;
    color: var(--softWhite);

    &:hover {
      opacity: 1;
      color: var(--flatRed);
    }
  }
}
