.Dribbble {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0 10vh 0;
  overflow-x: hidden;
  @media only screen and (max-width: 945px) {
    flex-flow: wrap;
  }
}

.Info {
  padding-top: 5rem;
  h2 {
    width: 13ch;
  }
  p {
    width: 350px;
  }
  @media only screen and (max-width: 945px) {
    padding-top: 2rem;

    h2 {
      width: 100%;
      text-align: center;
    }
    p {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      padding: 0 0 3rem 0;
    }
  }
}

.DribbbleImages {
  display: flex;
  flex-flow: nowrap;
  @media only screen and (max-width: 945px) {
    margin: 0 auto;
    flex-wrap: wrap;
  }
}
.Featured {
  margin: 0.5rem;
  flex: 1 2 auto;
  @media only screen and (max-width: 945px) {
    width: 55vw;
  }
}
.ImageColumn {
  display: flex;
  flex-direction: column;
  width: 27vw;
  max-width: 227px;
  img {
    margin: 0.5rem 0.6rem;
  }
  @media only screen and (max-width: 945px) {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    img {
      width: 95%;
    }
  }
}
