.Background {
  height: 100vh;
  background-color: rgb(74, 74, 96);
  width: 100vw;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  left: 0;
  top: 0;
}

.BackgroundImage {
  background-image: url("/images/lake-eola.jpeg");
  background-size: cover;
  mix-blend-mode: overlay;
  opacity: 45%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -20;
  left: 0;
  top: 0;
}
