.Hero {
  height: 100vh;
  color: var(--softWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    max-width: 720px;
    text-align: center;
  }
}
